<!-- <h3>I'm in the AppComponent</h3>
<!-- // data binding == The communication bewteen the html file and typescript file -->
<!-- <h2>{{title}}</h2> -->

<!-- string Interpolation == It is a one way databinding
Allows to bind data from typesript file to html file -->
<!-- <h1 >{{d}}</h1> --> -->

<!-- Name: <input type="text">
Mobile: <input type="number" [hidden]="ishidden">
<button [disabled]="isdisabled">Submit</button> -->
<!-- <h2 [class]="isactive?'active':'inactive'">This is heading</h2> -->
<!-- <h1 [style]="mystyle">This is H1 Heading</h1> -->
<!-- <button (click)="increment()">click</button>
<button (click)="decrement()">decrement</button>
<h1>counter: {{counter}}</h1>
Name:<input type="text" (input)="changeName($event)">
<h1>Your Name:{{name}}</h1> -->
<!-- city:<input type="text" [(ngModel)] = "city">
<p>{{city}}</p>
<button (click)="updateCity()">update</button> -->
<!-- <h1 *ngIf="show">This is structural NgIf condition heading </h1> -->
<!-- <table border="2px">
  <tr *ngFor = "let m of movies">
    <td>{{m}}</td>
  </tr>
</table> -->
<!-- <h1 *ngIf="!data">loading...</h1>
<div *ngIf="data">
  {{data}}
</div> -->
<!-- Else if  -->
<!-- <h1 *ngIf="!data; then load else sample"></h1> -->
<!-- <div #sample>
  {{data}}
</div> -->
<!-- <ng-template #load>
  Loading...
</ng-template>
<ng-template #sample>
  {{data}}
</ng-template> -->
<!-- <p *ngFor="let n of nums;index as i">Paragraph{{n}} {{i}}</p> -->
<!-- <table border="2 px solid black">
  <tr *ngFor="let n of nums; index as i">
    <td>  paragraph {{n}} {{i+1}}</td>
  </tr>
</table> -->
<!-- <table border="2">
    <tr>
      <td>id</td>
      <td>name</td>
      <td>price</td>
      <td>ram</td>
    
    </tr>
    <tr *ngFor="let n of nums">
     <td>{{n.id}}</td>
     <td>{{n.name}}</td>
     <td>{{n.price}}</td>
     <td>{{n.ram}}</td>
      

    </tr>

</table> -->
<!-- <input type="text" [(ngModel)] = "op">
<div [ngSwitch]="op">

  <div *ngSwitchCase=" '+' ">{{num1+num2}} </div>
  <div *ngSwitchCase="'-'">
    {{num1+num2}}
  </div>
  <div *ngSwitchCase=" '*' ">
    {{num1+num2}}
  </div>


  </div> -->

  <!--    Angular Pipes    -->
  <!-- <h1>{{name | lowercase}}</h1>
  <h2>{{salary | currency : 'INR' : 'symbol'}}</h2>
  <p>{{person1 | json}}</p>
  <p>{{dob | date: 'dd/MM/yyyy'}}</p>
  <p>{{marks | percent}}</p>
  <p>{{company | slice: 2:4 }}</p> -->
  <!-- Custom Pipes In Angular -->
  <!-- <h1>{{person | test: wish }}</h1> -->

<!-- Template refernce variable -->
<!-- Email:<input type="text" placeholder="Enter email" #e value="anc@gmail.com">
<button (click)="updateEmail(e)">update</button>
<div>{{email}}</div> -->

<!-- Parent and Child Components in Angular -->
<!-- <div>{{title}}</div>
<p>{{data1}}</p> -->
<!-- <app-server [d1]="data1" [d2]="parr"></app-server> -->
<!-- <div (click)="test($event)">trst</div> -->
<!-- {{cdata}} -->
<!-- <app-server (customevent)="cdata=$event"></app-server> -->

<!-- Using Template Reference Variable -->
<!-- <div>
  {{child.data}}
</div> -->
<!-- {{child.demo()}} -->
<!-- <app-server #child></app-server> -->


<!-- <button (click)="test()">click</button>
<app-server></app-server> -->


<!-- DOM Manipulation in Angular -->
<!-- <div #test>This is Div</div>
<button (click)="changediv()">click</button> -->

<p #para>This is paragraph 1</p>
<p #para>This is paragraph 2</p>

<h2 #heading>This is heading1 </h2>
<h2 #heading>This is heading2</h2>

<button (click)="test1()">click</button>